* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.movie-section {
  width: 70%;
  margin: 3% auto;
  padding: 20px 40px;
  /* background-color: red; */
}
.movie-section h1 {
  margin-bottom: 44px;
}
.movie-section .movie {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center; */
  gap: 80px;
  /* background-color: red; */
  /* overflow: hidden; */
}
.movie-section .movie-list {
  padding-bottom: 30px;
}
.movie-section .movie-list h2 {
  color: var(--gray-900, #111827);
  font-size: 18px;
  font-weight: 700;
}
.movie-section .movie-list img {
  width: 200px;
  border-radius: 5px;
}
.movie-section .movie-list .movie-briefing {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  gap: 12px;
  margin-top: 20px;
}
.movie-section .movie-list .movie-briefing h4 {
  color: var(--gray-400, #9ca3af);
  font-size: 12px;
  font-weight: 700;
}
